* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Helvetica", cursive;
    --default-font-size-16: 16px;
}

body {
    background:
        linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.4)), 
        url(./banner.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    padding: 1rem;
    font-family: var(--font-family);
    font-size: var(--default-font-size-16);
    color: #FFF;
}

nav {
    padding: 1rem;
    font-size: 1.2rem;

    display: flex;
    justify-content: space-around;
    gap: 3rem;
    /* border: 2px solid blue; */
    margin-bottom: 1rem;
}

nav > div {
    cursor: pointer;
}

nav > div:hover,
nav > div:active {
    color: aqua;
}

#content {
    height: 100%;
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.banner {
    text-align: center;
    line-height: 3rem;
}

.banner p {
    font-size: 1.5rem;
}

p.title {
    font-size: clamp(
        var(--default-font-size-16),
        (1rem + 5vw),
        50px
    );
    font-weight: bold;
}

p.address {
    font-size: 1rem;
}

.section {
    text-align: center;

    background-color: rgba(255, 255, 255, 0.328);
    padding: 1rem;
    border-radius: 8px;

    margin-bottom: 1rem;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
}

.contact-section {
    background-color: rgba(255, 255, 255, 0.2);
    line-height: 2rem;
}

.contact-section p > span {
    font-size: 1.1rem;
    font-weight: bold;
}

.menu-container {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 8px;
    

    overflow-y: auto;
}

.menu-item {
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    transition: transform 0.2s ease;

    max-height: 500px;
}

.menu-item:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.3);
}
